body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

select {
  background-color: white;
  border: #005e4e solid 1px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 5px;
}

.slick-arrow > i.fa {
  margin-top: 8px !important;
  cursor: pointer;
}

.input-search i {
  position: absolute;
  top: 1rem;
  left: 25px;
  color: grey;
}
.input-search input {
  padding-left: 30px;
}

@media (min-width: 768px) {
  .btn-lh {
    padding: 10px 40px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .btn-lh {
    font-size: 1rem !important;
    padding: 10px;
  }
}

/* Layout */
.flex {display: flex;}

.center {
  display: block;
  margin: 0 auto;
}

.separator {
  display: block;
  height: 40px;
  clear: both;
}
.separator-sm {
  display: block;
  height: 20px;
  clear: both;
}
.separator-xs {
  display: block;
  height: 10px;
  clear: both;
}

.padding-lg {padding: 2em;}
.padding-h-lg {padding: 0 2em;}
.padding-v-lg {padding: 2em 0;}

.no-margin-top {margin-top: 0;}
.no-margin {margin: 0;}

.border-right-bamboo {border-right: #005e4e solid 1px;}
.border-right-snowdrop {border-right: white solid 1px;}

/* Color */
.clr-bamboo {color: #005E4E;}
.clr-snowdrop {color: white;}

.bg-bamboo {background-color: #005E4E !important;}
.bg-snowdrop {background-color: white;}
.bg-aglonema {background-color: #f5f5f5;}

/* Button */
.btn-lh {
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
.btn-lh-lg {
  font-size: 2rem;
}
.btn-bamboo {
  background-color: #005E4E;
  color: white;
}
.btn-bamboo-outline {
  background-color: white;
  border: #005E4E solid 1px;
  color: #005E4E;
}

.card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 20px 0;
  border-radius: 10px;
  background-color: white;
}
.card > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
  margin: 0;
}
.card-content {
  padding: 10px;
}

.rounded-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rounded {border-radius: 10px;}

.chat-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
}

.clickable {cursor: pointer;}

#documentation img {padding: 10px;}

#farmer-profile {padding: 40px 0 10px;}
#farmer-tree-carbon {
  padding: 20px;
  border-radius: 10px;
}

.campaign-location-container {
  width: max-content;
}
.campaign-location {
  display: inline-block;
  margin-right: 20px;
  width: 140px;
}
.campaign-location.campaign {width: 256px;}
.campaign-location.button {width: 200px;}

#campaignLocation img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}
